* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi;
}
* {
  -webkit-overflow-scrolling: touch;
}
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}
body {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  text-align: justify;
  text-justify: inter-ideograph;
}
body,
div,
a,
span,
ul,
li,
img,
div:after,
div:before,
a:after,
a:before,
span:after,
span:before,
ul:after,
ul:before,
li:after,
li:before,
img:after,
img:before {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  -moz-user-select: -moz-none;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: 'PingFangSC';
  background-color: #0f0842;
}
body .wrapper {
  position: relative;
  margin: 0 auto;
  width: 10rem;
}
body .wrapper .header {
  position: relative;
  width: 10rem;
  height: 10.586667rem;
  background: url(../img/rheader.png) no-repeat;
  background-size: 100%;
}
body .wrapper .content {
  position: relative;
  width: 10rem;
  height: 13.306667rem;
  background: url(../img/rrule.png) no-repeat;
  background-size: 100%;
}
body .wrapper .zhansha {
  position: relative;
  width: 10rem;
  height: 9.426667rem;
  background: url(../img/kaibo.png) no-repeat;
  background-size: 100%;
}
body .wrapper .zhansha .downloadbtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.013333rem;
  margin: 0 auto;
  width: 5.146667rem;
  height: 1.133333rem;
}
body .wrapper .xiazai {
  position: relative;
  width: 10rem;
  height: 9.426667rem;
  background: url(../img/download.png) no-repeat;
  background-size: 100%;
}
body .wrapper .xiazai .downloadbtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.013333rem;
  margin: 0 auto;
  width: 5.146667rem;
  height: 1.133333rem;
}
body .wrapper .back {
  height: 1.26rem;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 1.26rem;
  color: #fff;
  font-size: .48rem;
}
body .vertical {
  font-size: 0;
}
body .vertical .placeholder {
  display: inline-block;
  width: 0;
  min-height: inherit;
  height: inherit;
  vertical-align: middle;
  visibility: hidden;
  overflow: hidden;
}
body .vertical .vitem {
  display: inline-block;
  vertical-align: middle;
}
body .hide {
  display: none;
}
